<!-- NAV DE LA PÁGINA (MENU) -->
<nav class="navbar navbar-dark bg-dark">
            <!-- Navbar content -->
    <div class="container-fluid text-white">
        <a class="navbar-brand" routerLink="home">Acuario UTL</a>
        <a class="nav-link active text-white" aria-current="page" routerLink="home">Inicio</a>
        <a class="nav-link text-white" routerLink="peces">Peces</a>
        <a class="nav-link text-white" routerLink="accesorios">Accesorios</a>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Buscar">
            <button class="btn btn-primary-color-dark" type="submit">Buscar</button>
        </form>
    </div>
</nav>
<br>
<router-outlet></router-outlet>

<!--Alumnos-->
<div class="col-xs-12">
    <div class="center-block">
        <button class="btn btn-info" (click)="ocultarComponente(false)" *ngIf="aux">Ocultar Alumnos</button>
        <button class="btn btn-info" (click)="ocultarComponente(true)" *ngIf="!aux">Mostrar Alumnos</button>
    </div>
</div>
<br>
<app-alumnos *ngIf="aux"></app-alumnos>