<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-primary table-hover">
                <thead>
                    <tr>
                        <th>IdAlumno</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Grupo</th>
                        <th>Promedio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ="let alumno of alumnos">
                    <td *ngIf="alumno.promedio < 7.5" style="color: red">{{alumno.id}}</td>
                    <td *ngIf="alumno.promedio < 7.5" style="color: red">{{alumno.nombre}}</td>
                    <td *ngIf="alumno.promedio < 7.5" style="color: red">{{alumno.apellidoPaterno}}</td>
                    <td *ngIf="alumno.promedio < 7.5" style="color: red">{{alumno.apellidoMaterno}}</td>
                    <td *ngIf="alumno.promedio < 7.5" style="color: red">{{alumno.grupo}}</td>
                    <td *ngIf="alumno.promedio < 7.5" style="color: red">{{alumno.promedio}}</td>
                    <td *ngIf="alumno.promedio >= 7.5">{{alumno.id}}</td>
                    <td *ngIf="alumno.promedio >= 7.5">{{alumno.nombre}}</td>
                    <td *ngIf="alumno.promedio >= 7.5">{{alumno.apellidoPaterno}}</td>
                    <td *ngIf="alumno.promedio >= 7.5">{{alumno.apellidoMaterno}}</td>
                    <td *ngIf="alumno.promedio >= 7.5">{{alumno.grupo}}</td>
                    <td *ngIf="alumno.promedio >= 7.5">{{alumno.promedio}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>